<div class="container">

    <h1>"Web development... My story"	</h1>

    <div class="main">
    	<div class="left-column">
	        <p>
	        	I am a recent graduate of the University of Arkansas currently residing in Memphis.  Though I am young, I have a drive to learn and a constant goal to further educate myself.  Currently I am attempting to increace my web-development and coding skills through use of Ruby on Rails, Javascript, and HTML/CSS. This first attempt at a website is to test some basic functionality, become familiar with the Rails framework, and serve as my introduction to the world!  My goal is to become a full stack developer with knowledge of all aspects of web design.  
	        	</p>
                  <p>
	        	I have a slew of interests that include reading good books, studying interesting subject matter, and meeting new people. Any questions or observations please feel free to send me a message at esitzes42@yahoo.com, or reach out via social media. 
          </p>
      </div>

      <%= render 'layouts/rotate' %>

      <%= render 'layouts/economist' %>
      

      <div class="left-column">
            <%= link_to image_tag("facebook.png", :alt => "rss feed" ), "https://www.facebook.com/evan.sitzes", :target=>"_blank" %>
            <%= link_to image_tag("linkedin.jpg", :alt => "rss feed" ), "https://www.linkedin.com/profile/view?id=244283440&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic", :target=>"_blank" %>
            <%= link_to image_tag("github.png", :alt => "rss feed" ), "https://github.com/Sitzilla", :target=>"_blank" %>
            <%= link_to image_tag("twitter.jpg", :alt => "rss feed" ), "https://twitter.com/", :target=>"_blank" %>

      </div>

      <div class="left-column">
            <h3 class="underline">Personal websites:</h3>
            <h6>Some web sites that I have created to test and demonstrate various functionality of Rails applications, such as user authentication and posting comments.</h6>
            <ul class="list-padding">
                 <li><span class="glyphicon glyphicon-chevron-right"><%= link_to "Pinteresting", "http://omr-pinteresting-evan.herokuapp.com/",  :target=>"_blank" %></span></li>
                 <li><span class="glyphicon glyphicon-chevron-right"><%= link_to "Sitzes-tweet", "https://sitzes-tweet.herokuapp.com/",  :target=>"_blank" %></span></li>
            </ul>
      </div>

	<div id="body">
		<div id="feedControl">Loading...</div>
	</div>
	</div>
</div>
