<% provide(:title, "Programming Projects") %>

<div class="container">
    <h1>Programming Projects</h1>
    <h4>Here is an overview of some of the non-work related programming projects that I have worked on in my spare time.  Link to my personal Github account <span> <%= link_to "here.", "https://github.com/Sitzilla",  :target=>"_blank" %></span></h4>

        <div class="row-full">
            <h3 class="underline">Vocabulary Flashcards App</h3>
            <ul>
                <li><b>Overview:</b> Android app that makes REST calls to a web API to get vocabulary terms and displays the words in a 'flashcards' format.</li>
                <li><b>Repos:</b> 
                                <ul>
                                    <li><b>Vocabulary app: </b><a class="linkUrls" target="_blank" href="https://github.com/Sitzilla/VocabularyFlashcards">https://github.com/Sitzilla/VocabularyFlashcards</a></li>
                                    <li><b>Web API: </b><a class="linkUrls" target="_blank" href="https://github.com/Sitzilla/VocabularyWebAPI">https://github.com/Sitzilla/VocabularyWebAPI</a></li>
                                </ul>
                </li>
                <li><b>Tools Used:</b> Spring Boot, Java 8, Maven, MySQL, Heroku, Android Studios, Google Play Store  </li>
            </ul>

        <div class="rImage">
                <!-- <%= image_tag("app1.png", :alt => "rss feed" ) %> -->
            <%= render 'layouts/rotate_project_android' %>
        </div>

            <p>As someone who loves studying languages AND programming, I thought I would try my hand at app development.  The app supports the three languages that I have studied over my life: Japanese, Korean, and Chinese.</p>
        </br>
            <p>There is a Spring Boot web API hosted on Heroku, with endpoints for getting different vocabulary terms, with the ability to filter on both category (verbs, adjectives, etc.) and level (scale 1-5). This API hooks into a small MySQL database I have hosted holding information on vocabulary terms and their associated metadata.</p>


            <div class="panel panel-default panel-left">
              <div class="panel-heading">Tech Used</div>
              <div class="panel-body">
                <ul>
                    <li>Spring boot-base web service</li>
                    <li>Android Studio</li>
                    <li>Heroku for hosting</li>
                    <li>MySql backed app</li>
                </ul>
             </div>
            </div>

        </br>
            <p>The project was a great introduction to me with several new technologies. Building a web API backed mobile app from the bottom-up was a great learning experience. I learned a lot about the Spring Framework and dependency injection in general that I have applied at my work and in other projects.  And best off all I got a highly customizable application that I use everyday for my language learning hobby. 
        </div>

        <div class="row-full">
            <h3 class="underline">Tic-Tac-Toe</h3>
            <ul>
                <li><b>Overview:</b>A single player Tic-Tac-Toe game with a computer opponent that implements a minimax algorithm to play against the user.</li>
                <li><b>Repo:</b> 
                                <ul>
                                    <li><b>NineSquare app: </b><a class="linkUrls" target="_blank" href="https://github.com/Sitzilla/nineSquare">https://github.com/Sitzilla/nineSquare</a></li>
                                </ul>
                </li>
                <li><b>Tools Used:</b> Java 8, Swing, MinMax Algorithm </li>
            </ul>

        <div class="rImage">
                <!-- <%= image_tag("TicTacToe2.png", :alt => "rss feed" ) %> -->
              <%= render 'layouts/rotate_project' %>
        </div>

            <p>As one of my first major programming projects, this was a good introduction to Java and some of its standard packages. I gained a firmer understanding of both event driven and object oriented programming, and implemented one of my first more complex algorithms.</p>
        </br>
            <p>The game is a simple tic-tac-toe board where the player goes first, and turns alternate between the player and the computer. The computer is unbeatable and the best-case outcome is a tie-game with the human, and will often result in a computer-win if the the human player is not careful. The computer will even employ basic strategies of blocking and forking whenever possible, which lead to its success in gameplay.</p>


            <div class="panel panel-default panel-left">
              <div class="panel-heading">Main Takeaway</div>
              <div class="panel-body">
                <ul>
                    <li>Intro to event driven programming</li>
                    <li>One of my first full Java projects</li>
                    <li>Deeper understanding of MinMax</li>
                </ul>
             </div>
            </div>

        </br>
            <p>The minmax algorithm is fairly basic due to the simplicity of the game. It recursively searches the gameboard to a depth equal to the remaining maximum moves to be played. Different point values are assigned to different game states (winning/losing, 2 consecutive pieces, etc.) and assigns points based on the outcomes. It opts for the choice that leads to the highest number of points.</p>
    
        </div>  

    <div class="row-full">
            <h3 class="underline">RPG Game</h3>
            <ul>
                <li><b>Overview:</b> My game.</li>
                <li><b>Repo:</b> 
                                <ul>
                                    <li><b>Vocabulary app: </b><a class="linkUrls" target="_blank" href="https://github.com/Sitzilla/TwilightEternalGame">https://github.com/Sitzilla/TwilightEternalGame</a></li>
                                
                                </ul>
                </li>
                <li><b>Tools Used:</b> Java 8, Gradle, LibGDX </li>
            </ul>

        <div class="rImage">
                <!-- <%= image_tag("app1.png", :alt => "rss feed" ) %> -->
            <%= render 'layouts/rotate_project_android' %>
        </div>

            <p>Intro.</p>
        </br>
            <p>How.</p>


            <div class="panel panel-default panel-left">
              <div class="panel-heading">Tech Used</div>
              <div class="panel-body">
                <ul>
                    <li>LibGDX</li>
                </ul>
             </div>
            </div>

        </br>
            <p>Why. 
        </div>

</div>