  <div id="carousel-game-generic" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-game-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-game-generic" data-slide-to="1"></li>
      <li data-target="#carousel-game-generic" data-slide-to="2"></li>
      <li data-target="#carousel-game-generic" data-slide-to="3"></li>
      <li data-target="#carousel-game-generic" data-slide-to="4"></li>
      <li data-target="#carousel-game-generic" data-slide-to="5"></li>
      <li data-target="#carousel-game-generic" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("programming_projects/twilight_eternal/TE1.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("programming_projects/twilight_eternal/TE2.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("programming_projects/twilight_eternal/TE3.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("programming_projects/twilight_eternal/TE4.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("programming_projects/twilight_eternal/TE5.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("programming_projects/twilight_eternal/TE6.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("programming_projects/twilight_eternal/TE7.png", :alt => "Loading..." ) %>
        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-game-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-game-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>